#sertiz {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
    width: 175px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: white;
    line-height: 35.2px;
}

#awesome {
    font-family: 'Lato', sans-serif;;
    font-size: 16px;
    color: white;
    padding: 0;
    margin-top: 16px;
    width: 287px;
    line-height: 16px;
}

.text-section {
    position: absolute;
    left: 215px;
    top: 531px;
    width: 100%;
}

h1 {
    margin-top: 28px;
    padding-top: 49px;
    padding-bottom: 42px;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 839px;
    line-height: 54px;

}

#logo-part1 {
    color: goldenrod;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 25px;
}

#logo-part2 {
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 34px;
}

body {
    background-image: url("../img/background.png");
}

#section2 {
    text-align: center;

}

ul{
    list-style-type: none;
    max-width: 800px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;

}

p{
    margin-bottom: 50px;
}

li{
    display: inline;
    margin: 0 30px;
}

ul {
    display: inline;
}

.class {
    display: block;
}

span.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: goldenrod;
    margin-right: 260px;

}

#lng-line{
    width: 1200px;
    height: 5px;
    background-color: goldenrod;
    margin: 20px auto;
}

img{
    margin-bottom: 50px;
}

#shrt-line {
    width: 50px;
    height: 5px;
    background-color: goldenrod;
    margin: 40px auto

}




